* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body {
  background: snow;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 20px 60px;
  border-bottom: 2px solid #181717;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: red;
  font-weight: bolder;
  font-size: 30px;
}
.nav-links a:hover {
  color: #000;
}

.logo img {
  width: 150px;
  border-radius: 80px;
  margin-left: -40px;
}

.nav-right .Social-Media {
  display: flex;
  gap: 15px;
}
.nav-links a:last-child {
  background-color: rgba(198, 199, 197, 0.922);
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
}

.nav-right .Social-Media a {
  padding: 10px 10px;
  font-size: 30px;
  color: #f5f5f5;
  text-decoration: none;
  background-color: rgb(3, 3, 3);
  border-radius: 1200px;
}

/* Body */
/* Container */
.container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* LEft Side */
.left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left img {
  width: 100%;
  max-width: 520px;
  margin-bottom: 25px;
  margin-left: -30px;
}

.left p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  max-width: 420px;
}

.explore {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.explore span {
  font-weight: bold;
  font-size: 20px;
}

.arrow {
  width: 38px;
  height: 38px;
  background-color: rgb(222, 84, 20);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.3s ease;
}

.explore:hover .arrow {
  background-color: black;
}

.right {
  width: 50%;
}

/* Slideshow */
.slideshow-container {
  max-width: 100%;
  position: relative;
}

.mySlides {
  display: none;
}

.mySlides img {
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

/* Buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px;
  color: white;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.section-title {
  margin-top: 30px;
  font-size: 40px;
  color: rgb(183, 32, 32);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 150px;
}

/* Event Card */

.flex {
  display: flex;
  gap: 20px;
}

.cards-wrapper {
  padding: 30px 30px;
  margin-left: 125px;
}

.card {
  /* flex: 1 1 260px; */
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  display: block;
}

.container1 {
  padding: 16px;
}

.container1 h4 {
  margin-bottom: 6px;
}

.container1 p {
  font-size: 14px;
  color: #555;
}

.community-career {
  display: flex;
}
.we-do {
  margin-top: 30px;
  font-size: 30px;
  color: rgb(183, 32, 32);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 150px;
  margin-left: 150px;
}
.community {
  margin-left: 150px;
  margin-top: 100px;
  width: 100%;
}
.community img {
  width: 20%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: -50px;
  display: block;
}
.community p {
  margin-top: 20px;
  margin-left: 180px;
  font-size: 20px;
  line-height: 1.3;
  max-width: 600px;
  color: #333;
}
.community h2 {
  font-size: 30px;
  color: rgb(183, 32, 32);
  margin-left: 180px;
  margin-top: -150px;
}
.career1 {
  margin-top: 30px;
  font-size: 30px;
  color: rgb(183, 32, 32);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 150px;
  margin-left: 150px;
}
.career {
  margin-left: 150px;
  margin-top: 100px;
  width: 100%;
}
.career img {
  width: 20%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: -50px;
  margin-left: -70px;
  display: block;
}
.career p {
  margin-top: 20px;
  margin-left: 100px;
  font-size: 20px;
  line-height: 1.3;
  max-width: 370px;
  color: #333;
}
.career h2 {
  font-size: 30px;
  color: rgb(183, 32, 32);
  margin-left: 100px;
  margin-top: -150px;
}

.leadership-guidelines {
  display: flex;
}

.leadership {
  margin-left: 150px;
  margin-top: 100px;
  width: 100%;
}
.leadership img {
  width: 17%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: -50px;
  display: block;
}
.leadership p {
  margin-top: 20px;
  margin-left: 180px;
  font-size: 20px;
  line-height: 1.3;
  max-width: 400px;
  color: #333;
}
.leadership h2 {
  font-size: 30px;
  color: rgb(183, 32, 32);
  margin-left: 180px;
  margin-top: -150px;
}
.guidelines {
  margin-left: 150px;
  margin-top: 100px;
  width: 100%;
}
.guidelines img {
  width: 15%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: -50px;
  margin-left: -70px;
  display: block;
}
.guidelines p {
  margin-top: 20px;
  margin-left: 100px;
  font-size: 20px;
  line-height: 1.3;
  max-width: 370px;
  color: #333;
}
.guidelines h2 {
  font-size: 30px;
  color: rgb(183, 32, 32);
  margin-left: 100px;
  margin-top: -150px;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 50px;
}
.brands h2 {
  margin-top: 30px;
  font-size: 45px;
  color: rgb(183, 32, 32);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 150px;
  margin-left: 150px;
}
.brand-logo img {
  width: 120px;
  padding: 20px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-radius: 80%;
}

.footer {
    background: #222;
    color: snow;
    padding: 60px 0 20px;
    margin-top: 100px;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footer-left {
    flex: 1.2;
}

.footer-logo {
    width: 100px;
    margin-bottom: 15px;
    border-radius: 80%;
}

.footer-left h2 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-left p {
    line-height: 1.5;
    color: #bbb;
    max-width: 300px;
}

.footer-middle {
    flex: 1;
}

.footer-middle h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-middle ul {
    list-style: none;
    padding: 0;
}

.footer-middle ul li {
    margin-bottom: 10px;
}

.footer-middle ul li a {
    text-decoration: none;
    color: snow;
    transition: 0.3s;
}

.footer-middle ul li a:hover {
    color: rgb(109, 168, 222);
}

.footer-right {
    flex: 1.2;
}

.footer-right h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-right p {
    margin-bottom: 10px;
    color: #bbb;
    line-height: 1.4;
}

.footer-socials {
    margin-top: 20px;
}

.footer-socials a {
    display: inline-block;
    margin-right: 15px;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.footer-socials a:hover {
    color: rgb(109, 168, 222);
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    font-size: 14px;
    color: #aaa;
}


