*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background: #f5f5f5;
}  

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 20px 60px;
    border-bottom: 2px solid #000;
    gap: 20px;
}
.logo img {
    width: 150px;
}
