*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background: snow;
}  

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 20px 60px;
    border-bottom: 2px solid #181717;
   
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.nav-links a{
    text-decoration:none;
    color: red;
    font-weight: bolder;
    font-size: 30px;

}
.nav-links a:hover {
    color: #000;  
}


.logo img {
    width: 150px;
    border-radius: 80px;
    margin-left: -40px;
}

.nav-right .Social-Media {
    display: flex;
    gap: 15px;
}
.nav-links a:last-child {
    background-color: rgba(198, 199, 197, 0.922);
    color: black;
    padding: 10px 20px;
    border-radius: 8px; 
}


.nav-right .Social-Media a {
    padding: 10px 10px;
    font-size: 30px;      
    color: #f5f5f5;          
    text-decoration: none;
    background-color: rgb(3, 3, 3);
    border-radius: 1200px;

}


/* Body */
/* Container */
.container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* LEft Side */
.left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left img {
    width: 100%;
    max-width: 520px;
    margin-bottom: 25px;
    margin-left: -30px;
}

.left p {
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    max-width: 420px;
}

.explore {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.explore span {
    font-weight: bold;
    font-size: 20px;
}

.arrow {
    width: 38px;
    height: 38px;
    background-color: rgb(222, 84, 20);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0.3s ease;
}

.explore:hover .arrow {
    background-color: black;
}

.right {
    width: 50%;
}

/* Slideshow */
.slideshow-container {
    max-width: 100%;
    position: relative;
}

.mySlides {
    display: none;
}

.mySlides img {
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

/* Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 12px;
    color: white;
    font-size: 18px;
    background: rgba(0,0,0,0.5);
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.section-title {
    margin-top: 30px;
    font-size: 40px;
    color: rgb(183, 32, 32);
    font-weight: bold;
     margin-bottom: 20px;
     margin-top: 100px;
}

/* Event Card */
.cards-wrapper {
    display: flex;          
    gap: 20px;              
    justify-content: flex-start;              
}

.card {
    /* flex: 1 1 260px; */
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.card img {
    width: 100%;
    display: block;
}

.container1 {
    padding: 16px;
}

.container1 h4 {
    margin-bottom: 6px;
}

.container1 p {
    font-size: 14px;
    color: #555;
}


